<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="THACOEntities" connectionString="metadata=res://*/DAL.THACOModel.csdl|res://*/DAL.THACOModel.ssdl|res://*/DAL.THACOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Anh-PC;Initial Catalog=THACO;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>